
/* ***************************** */
/* Basic css */
/* ***************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 1px dashed rgba(118, 118, 118, 0.5);
  outline-offset: 0.9rem;
}
html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}
body {
  background-color: #fff;
  color: #616161;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* ***************************** */
/* Reusable CSS*/
/* ***************************** */
.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.grid-2-cols {
  grid-template-columns: 55fr 45fr;
}
.grid-2-cols-gap {
  gap: 3.2rem;
}

.grid-1-cols {
  grid-template-columns: 1fr;
}
.card-grid {
  display: grid;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ***************************** */
/* Hero Section*/
/* ***************************** */

.nav-list .nav-link:link,
.nav-list .nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  border-bottom: 2px solid transparent;
}

.nav-list:hover .nav-link,
.nav-list:active .nav-link {
  color: currentColor;
  border-bottom: 2px solid #767676;
}
.nav-icon:link,
.nav-icon:visited {
  color: currentColor;
}
.nav-icon:hover,
.nav-icon:active {
  color: currentColor;
}
.flex-end {
  display: flex;
}
.chevron-down {
  font-size: 1.2rem;
  align-self: center;
}
.icon {
  font-size: 2.4rem;
}

.heading-primary {
  color: #343a40;
  font-size: 2.4rem;
}
.text-primary {
  font-size: 1.4rem;
  line-height: 1.6;
}

.btn-black {
  padding: 1.2rem 2.4rem;
  background-color: #000;
  cursor: pointer;
  display: flex;
}
.link-black {
  padding: 1.4rem;
  cursor: pointer;
  display: flex;
}

.btn-black-chevron-forward-icon {
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-black-chevron-forward-icon {
  font-size: 1.6rem;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-black .btn:link,
.btn-black .btn:visited,
.link-black .link:link,
.link-black .link:visited {
  font-size: 1.4rem;
  font-weight: 700;

  text-decoration: none;
  border-bottom: 0.2rem solid transparent;
  transition: transform 0.3s ease-in;
}

.btn-black .btn:link,
.btn-black .btn:visited {
  color: #fff;
}
.btn-black:hover .btn,
.btn-black:active .btn {
  border-bottom: 0.2rem solid currentColor;
  transform: translateX(-0.4rem);
}
.btn-black .btn-black-chevron-forward-icon {
  transition: transform 0.3s ease-in;
}
.btn-black:hover .btn-black-chevron-forward-icon,
.btn-black:active .btn-black-chevron-forward-icon {
  transform: translateX(0.4rem);
}

.link-black .link:link,
.link-black .link:visited {
  color: #000;
  border-bottom: 0.2rem solid transparent;
}

.link-black:hover .link,
.link-black:active .link {
  border-bottom: 0.2rem solid currentColor;
}

.link-black .link-black-chevron-forward-icon {
  transition: transform 0.3s ease-in;
}

.link-black:hover .link-black-chevron-forward-icon {
  transform: translateX(0.4rem);
}

.btn-primary:focus {
  outline: 1px dashed currentColor;
  outline-offset: 0.9rem;
}

.absolute {
  position: absolute;
  top: 0;
  bottom: 0;
}

.dot {
  display: block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;
  border: 1px solid #000;
}
.dot:hover {
  background-color: #000;
}
.dot-fill {
  background-color: #000;
}
.pause {
  height: 2rem;
  width: 2rem;
  padding: 0.8rem;
}
.dot-pause {
  position: absolute;
  width: 100%;
  bottom: -1.4rem;
  bottom: 1.4rem;
  cursor: pointer;
}
