/* ***************************** */
/* Below 1200/16=75em (smaller desktop) */
/* ***************************** */

@media (max-width: 75em) {
  .nav {
    padding: 1.2rem 2.4rem;
  }
  .hero {
    padding: 0 0 3.2rem 0;
  }
  .card-padding {
    padding: 0 6.4rem 3.2rem 6.4rem;
  }
  .card-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1.2rem 4.8rem;
  }
  .card-img {
    width: 100%;
  }

  .grid-2-cols-hero-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .business-card-li::before {
    top: 60%;
  }
  .business-card-padding {
    padding: 0px 6.4rem 4.8rem 6.4rem;
  }
  .hero-2 {
    padding: 0 0 4.8rem 0;
  }
  .social-icon-padding {
    padding: 0px 6.4rem 3.2rem 6.4rem;
  }

  .footer-padding {
    padding: 3.2rem 6.4rem 3.2rem 6.4rem;
  }
  .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4.8rem 0;
  }
  .footer-bottom {
    padding: 1.2rem 6.4rem 1.2rem 6.4rem;
  }
}

/* ***************************** */
/* Below 1008/16=63em*/
/* ***************************** */
@media (max-width: 63em) {
  .container {
    max-width: 100vw;
  }
  .nav {
    padding: 1.2rem 1.6rem;
  }
  .feature {
    padding: 0;
  }
  .feature-ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
  .card-padding {
    padding: 3.2rem 6.4rem;
  }
  .grid-2-cols-hero-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-2-link {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .business-card-padding {
    padding: 3.2rem 6.4rem;
  }
  .business-card-li::before {
    top: 55%;
  }
  .social-icon-padding {
    padding: 0 6.4rem 3.2rem 6.4rem;
  }
  .footer-padding {
    padding: 3.2rem 6.4rem;
  }
  .footer-bottom {
    padding: 1.2rem 6.4rem;
  }
}

/* ***************************** */
/* Below 912/16=57em*/
/* ***************************** */
@media (max-width: 57em) {
  html {
    font-size: 62.5%;
  }
  .mobile-nav-class {
    position: relative;
  }
  .mobile-nav-class .nav {
    height: 0;
  }
  .nav {
    padding: 0;
  }
  .nav-ul-1 > :first-child {
    display: none;
  }

  .nav-ul-1 {
    position: absolute;
    background-color: #f2f2f2;
    top: 25%;
    left: 0;
    width: 100%;
    z-index: 100;
    align-items: stretch;
    flex-direction: column;
    gap: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  /* nav-open for opening mobile nav */
  .nav-open .nav-ul-1 {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(10%);
  }

  .mobile-icon[name="menu-outline"] {
    display: block;
  }
  .mobile-icon[name="close-outline"] {
    display: none;
  }
  .nav-open .mobile-icon[name="close-outline"] {
    display: block;
  }
  .nav-open .mobile-icon[name="menu-outline"] {
    display: none;
  }

  .nav .nav-ul-2 {
    display: none;
  }
  .hero-aside-link {
    display: none !important;
  }

  .nav-list {
    list-style: none;
    padding: 1.8rem;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
  }
  .nav-list:hover .nav-link,
  .nav-list:active .nav-link {
    border-bottom: 2px solid transparent;
  }

  /* mobile nav */
  .mobile-nav {
    display: block;
  }
  .icon-user-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-btn-menu-search,
  .mobile-btn-cart-user {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  .mobile-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  .mobile-icon {
    font-size: 3.2rem;
  }

  .mobile-nav-class .mobile-nav {
    padding: 1.2rem;
  }

  .business-card-li::before {
    top: 50%;
  }
  .footer-bottom {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

/* ***************************** */
/* Below 800/16=50em*/
/* ***************************** */

@media (max-width: 50em) {
  .text-primary {
    font-size: 1.4rem;
    line-height: 1.8;
  }

  .card-heading {
    margin-bottom: 0.8rem;
  }
  .business-card-li::before {
    top: 40%;
  }
}

/* ***************************** */
/* Below 752/16=47em*/
/* ***************************** */
@media (max-width: 47em) {
  .mobile-nav-class {
    padding: 1.2rem 6.4rem;
  }
  .absolute,
  .dot-pause {
    display: none;
  }
  .hero-2-box > .grid-2-cols-hero-2 {
    display: none;
  }

  .business-card-li::before {
    top: 35%;
  }

  .footer-btm-right {
    flex-direction: column;
  }
  .footer-btm-a {
    display: flex;
    flex-direction: column;
  }
}

/* ***************************** */
/* Below 656/16=41em*/
/* ***************************** */
@media (max-width: 41em) {
  .mobile-nav-class {
    padding: 1.2rem;
  }
  .feature-ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }

  .card-ul {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }

  .business-card-li::before {
    top: 55%;
  }

  .card-img {
    margin-bottom: 1.8rem;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 3.2rem 0;
  }
}

/* ***************************** */
/* Below 560/16=35em*/
/* ***************************** */
@media (max-width: 35em) {
  .feature-ul {
    grid-template-columns: 1fr;
  }
  .card-padding {
    padding: 0 3.2rem 3.2rem 3.2rem;
  }
  .business-card-padding {
    padding: 0 3.2rem 4.8rem 3.2rem;
  }
  .business-card-li::before {
    top: 55%;
  }
  .back-to-top {
    margin-bottom: 3.2rem;
    padding: 1rem;
    color: #000;
    background-color: #e6e6e6;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    transition: all 0.2s ease-in;
  }
}

/* ***************************** */
/* Below 448/16=28em*/
/* ***************************** */
@media (max-width: 28em) {
  .business-card-li::before {
    top: 40%;
  }

  .footer-btm-a,
  .footer-btm-a-5 {
    gap: 2rem;
  }
}
